@use '/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/mixins.scss' as mixins;
.resumeCreateForm {
  @include mixins.border-vacancy-card;
  padding: 30px;
  position: relative;
  >*{
  width: 70%;
  }
  &__submit{
    position: absolute;
    right: 60px;
    bottom: 40px;
  }
}