@use "/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/mixins.scss" as mixins;
@use "/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/variables.scss" as variables;
.searchMultiSelect{
  >*{
    @include mixins.paddingY-sub-content-10px;
  }
  &__wrapper{
  @include mixins.border-input-resume;
    @include mixins.size-input-resume;
    @include mixins.padding-input-resume;
    height: min-content;
    font-size: 18px;
    font-weight: 400;
    ::placeholder{
      color: variables.$color-text-grey;
    }

  }
  &__pillList{
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__pill{
    @include mixins.border-input-resume;
    background-color: white;
    width: min-content;
    min-width: 150px;
    height: 44px;
    @include mixins.text-black-18px;
    span{
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}