//Background colors
$color-background-black: #16161F;
$color-background-white: #FAFAFA;

//Text colors
$color-text-black: #16161F;
$color-text-white: #FFFFFF;
$color-text-grey: #818181;


//Card colors
$color-card-grey-4: #D7D7D9;
$color-card-grey-3: #E8ECF0;
$color-card-grey-2: #F5F5F7;
$color-card-grey-1: #FFFFFF;

//Button colors
$color-button-black: #16161F;
$color-button-white: #FAFAFA;

//Button sizes
$size-buttonHeight-60px: 60px