@use '/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/mixins.scss' as mixins;
@use '/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/variables.scss' as variables;
.noResultsFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixins.paddingY-main-content-30px;
  >*{
    @include mixins.paddingY-sub-content-20px
  }
  &__link{
    color: variables.$color-text-grey !important;

  }
}