@use '/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/mixins.scss' as mixins;
@use '/Users/justneiz/WebstormProjects/Job4MomTS/src/styles/variables.scss' as variables;
.personalDetailsForm{
  &__label{
    display: block;
    @include mixins.label-medium-text;
  }

  &__nameContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column-gap: 20px;
    >*{
      display: flex;
      flex-direction: column;
    }
    *{
      @include mixins.paddingY-sub-content-15px;
    }
  }
  &__positions{
    >*{
      padding: 10px 0;
    }
  }
  &__socialMedia{

      position: relative;

    &--deleteButton{
      width: 16px;
      height: 18px;
      background-image: url("src/assets/trashbox.png");
      position: absolute;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}